.container {
  flex: 5;
}

.responsiveTitle { 
  font-family: 'Helvetica', sans-serif; /* Apply Helvetica font */
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
  color: #8f4db4; 
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1); 

  /* Responsive Settings */ 
  font-size: 3.5vw;         
  max-font-size: 72px;      
  min-font-size: 24px;      
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  .responsiveTitle { 
    font-size: 40px; 
  }
}

@media screen and (max-width: 1024px) {
  .responsiveTitle {
    font-size: 40px; 
  }

  .imgContainer {
    display: none;
  }
} 
