.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

/* ... other styles... */

.logoWrapper {
  max-width: 170px;  
  max-height: 170px;  
  overflow: hidden;
  margin-right: 100px; /* Adjust the spacing value as desired */
}

.logoWrapper img { 
  width: 100%; 
  height: 100%;
  object-fit: contain; 
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-size: 20px;
}

/* ... your media queries ... */

@media screen and (max-width: 640px) { /* Adjust breakpoint as needed */
  .logoWrapper {
    max-width: 100px;  /* Larger size for mobile */
    max-height: 100px; /* Larger size for mobile */
  }

  .social {
    display: none; 
  }

  .logo {
    text-align: left; 
  }

  .links{
    justify-content: flex-end; 
  }

  .link {
    display: none; 
  }
}
